backend/.env
backend/__pycache__/agents.cpython-311.pyc
*.pkl
*.faiss
*.json
*.pyc

backend/venv
frontend/node_modules
frontend/dist
frontend/build
backend/backend/logs
backend/backend/cache
backend/backend/data
backend/backend/models
backend/backend/temp
backend/backend/uploads


backend/backend/logs/app.log
backend/backend/logs/error.log
backend/backend/logs/access.log
backend/backend/logs/debug.log
backend/backend/logs/info.log
backend/backend/logs/warning.log
backend/backend/logs/critical.log

*.pyc
