fastapi
uvicorn
python-multipart
langchain
langchain-community
faiss-cpu
sentence-transformers
PyMuPDF
python-docx
aiofiles
python-jose
passlib
bcrypt
python-dotenv
matplotlib
PyPDF2
langchain_groq
crewai
openai
