fastapi
uvicorn
python-multipart
langchain
langchain-community
faiss-cpu
sentence-transformers
PyMuPDF
python-docx
aiofiles
python-jose
passlib
bcrypt
python-dotenv
matplotlib
PyPDF2
langchain_groq
crewai
openai

# Set environment variable for PyO3 compatibility with Python 3.13
# PYO3_USE_ABI3_FORWARD_COMPATIBILITY=1
# tiktoken
regex>=2023.0.0
